In [ ]:
#Leitura do arquivo para dentro de uma variável em memória
titanic_csv = open('titanic.csv','r')

In [ ]:
#Identificação de cada uma das linhas do arquivo, criando uma lista de linhas
titanic_csv.readlines()

In [ ]:
#Após ler um arquivo, não é possível ler novamente. Para que seja possível,
#é necessário utilizar a função seek, que retorna o ponteiro para o início
#da lista.
titanic_csv.seek(0)

In [ ]:
#As linhas são jogadas para a variável linhas
linhas = titanic_csv.readlines()

In [ ]:
#Após a leitura das linhas para a variável linhas, o arquivo pode ser fechado
#A memória é liberada
titanic_csv.close()

In [ ]:
#Separação da string dos cabeçalhos do arquivo. Cada coluna se tornará a chave
#de um dicionário posteriormente
colunas = linhas[0].split(',')

In [ ]:
# Variável dados recebe a a primeira linha de dados após o cabeçalho
dados = linhas[1].split(',')

In [ ]:
print(colunas)
print(dados)

In [ ]:
#O print pode ser indexado também
print(colunas[0])
print(dados[0])

In [ ]:
import re #Biblioteca de regex expression para utilizar expressões regulares
#Site para expressões regulares https://www.regexpal.com/
match = re.compile(r'"(.*)(,)(\s.*)"')
#Onde:
# (.*) = Pega todos os caracteres antes da vírgula
#(,) = Pega a vírgula
#(\s.*) = Pega todos os caracteres depois do espaço
match.sub(r'"\3 \1"',linhas[1]) #Aplicação da expressão regular para a linha 1
#Onde:
# /3 = Terceiro bloco da primeiraa expressão regular
# /1 = Primeiro bloco da primeira expressão regular

In [ ]:
#Função para remover vírgulas dos nomes e troca nomes com posições invertidas
def tratar_nome(linha):
    import re
    match = re.compile(r'"(.*)(,)(\s.*)"')
    return match.sub(r'"\3 \1"',linha)

In [ ]:
#Teste da função na linha 1
tratar_nome(linhas[1])

In [ ]:
#Exemplos de chamada da função
linha1_tratada = tratar_nome(linhas[1])
linha1_separada = linha1_tratada.split(',') #Split não vale para listas: apenas para strings
print(colunas)
print(linha1_tratada)  #linha1_tratada é string
print(linha1_separada) #linha1_separada é lista

In [ ]:
#Criação de um dicionário que recebe a coluna como chave e uma lista vazia como valores

In [ ]:
#As chaves e os valores são criados como vazios
titanic_dados = {} #Criação do dicionário vazio

for coluna in colunas: #colunas representa todos os cabeçalhos
    titanic_dados[coluna] = [] #Cada coluna (chave) recebe uma lista vazia

titanic_dados

In [ ]:
#Tratamento de todas as linhas do dataset por meio da função tratar_nome
for dado in linhas[1:]: #A linha 0 é excluída porque é o cabeçalho
    dado_tratado = tratar_nome(dado)
    print(dado_tratado)
#O resultado do loop é uma string

In [ ]:
#Conversão da string em uma lista (que pode ser indexada) de valores
for dado in linhas[1:]:
    dado_tratado = tratar_nome(dado)
    dado_como_lista = dado_tratado.split(',')
print(dado_como_lista)

In [ ]:
#Repetição dos passos anteriores, porém armazenando o retorno do split em uma lista para adicionar cada linha convertida em
#lista, fazendo uma lista aninhada
dados_tratados = [] #No final, teremos uma lista com várias listas [ [n,s,i], [n,s,i], [n,s,i], [n,s,i]]
                    #                                               0 0 1 2  1 0 1 2  2 0 1 2  3 0 1 2 =>posições

for dado in linhas[1:]:
    dado_tratado    = tratar_nome(dado)
    dado_como_lista = dado_tratado.split(',')
    dados_tratados.append(dado_como_lista)

In [ ]:
#Correlação de linhas e colunas
print(colunas[1], colunas[3])
print(dados_tratados[1][1], dados_tratados[1][3])

In [ ]:
#Loop que percorre os dados tratados, considerando o mesmo índice para impressão dos nomes dos passageiros
for passageiro in dados_tratados:
    print(colunas[3], passageiro[3], colunas[5], passageiro[5], colunas[4], passageiro[4])

In [ ]:
#Exemplo de utilização do enumerate para retorno do índice do elemento
frutas = ['mamão', 'melão','melancia']

for indice, fruta in enumerate(frutas):
    print('Fruta:',fruta,'no índice: ', indice)

In [ ]:
#Pegando os índices para correlacionar as colunas
for passageiro in dados_tratados:
    print(passageiro)
    for indice, dado in enumerate(passageiro):
        print('Índice:', indice,'Dado:',dado)

In [ ]:
# 1. Pegar cada linha da variável dados_tratados e colocar em passageiro
# 2. For para pegar o índice e o restante dos dados
# 3. Na variável coluna pego a colua no respectivo índice

for passageiro in dados_tratados:
    for indice, dado in enumerate(passageiro): #Enumarate retorna índice e valor
        coluna = colunas[indice]
        print(coluna,dado)

In [ ]:
#Preenchimento do dicionário com os valores correlacionados
for passageiro in dados_tratados:
    for indice, dado in enumerate(passageiro):
        coluna = colunas[indice]
        titanic_dados[coluna].append(dado)

In [ ]:
#Loop para conversão das idades em float
for indice, age in enumerate(titanic_dados["Age"]):
    if titanic_dados["Age"][indice] != '':
        titanic_dados["Age"][indice] = float(age)
    else:
        titanic_dados["Age"][indice] = -1

In [ ]:
#Preenchendo a lista de idades
lista_idades = []
    
for idade in titanic_dados["Age"]:
    if idade != -1:
        lista_idades.append(idade)

In [ ]:
#Função para soma e contagem das idades
def media(lista):
    soma_total = sum(lista)
    quantidade = len(lista)
    
    return soma_total / quantidade

In [ ]:
print("A média de idade dos passageiros é ",media(lista_idades))

In [ ]:
media_idades = media(lista_idades)

In [ ]:
for indice, age in enumerate(titanic_dados["Age"]):
    if age == -1:
        titanic_dados["Age"][indice] = media_idades

In [ ]:
#Importando pandas

In [ ]:
import pandas
titanic_dados = pandas.read_csv("titanic.csv") #Leitura do CSV
titanic_dados.head(10) #Mostrar as 10 primeiras linhas